#navigation,
.visits-grid-wrapper,
.medications-grid-wrapper,
body {
  font-family: 'Raleway', sans-serif;
}

.visits-grid-wrapper,
.medications-grid-wrapper {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  min-height: 60vh;
}

.visit-card,
.medication-card {
  margin-top: 5px;
}

#card-text-bold {
  font-weight: 600;
}

.medications-c2 {
  width: 50%;
  height: 80%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 1%;
}
