#navigation,
.visits-grid-wrapper,
.medications-grid-wrapper {
  font-family: 'Raleway', sans-serif;
}

.visits-grid-wrapper,
.medications-grid-wrapper {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.visit-card,
.medication-card {
  margin-top: 5px;
}

#card-text-bold {
  font-weight: 600;
}
