@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');

.body {
  font-family: 'Raleway', sans-serif;
}

.homepage-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.homepage-container {
  display: grid;
  grid-template-columns: 15% auto 15%;
  grid-template-rows: 10vh 80vh 10vh;
}

.homepage-top {
  background-color: white;
}

.homepage-center-left {
  background-color: white;
}

.homepage-center-right {
  background-color: white;
}

.homepage-center {
  border-style: solid;
  border-width: 2px;
  background-image: url('https://s3-us-west-1.amazonaws.com/iyashi-emr/hr.jpg');
  background-position: center;
  background-size: cover;
}

.homepage-bottom {
  background-color: white;
}
